<div xmlns:th="http://www.thymeleaf.org" th:fragment="alerts">
    <div th:if="${msgSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${msgSuccess}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div th:if="${msgError}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${msgError}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div th:if="${msgWarn}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <span th:text="${msgWarn}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div th:if="${msgInfo}" class="alert alert-info alert-dismissible fade show" role="alert">
        <span th:text="${msgInfo}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
